@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    135deg,
    #fad6e8 0%,
    #ffe5d3 30%,
    #ffffff 70%,
    #ffe5d3 100%
  );
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list markers */
}

li {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.animate-flash {
  animation: flash 0.3s ease-out;
}

@keyframes slideDownBounce {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  85% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDownBounce 1000ms cubic-bezier(0.6, -0.28, 0.74, 0.05)
    forwards;
}
